@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
:root {
  --rubik: "Quicksand", sans-serif;
  --lightgreen: #ec2c22;
  --blue: #011e26;
  --lightgreen: #00dc81;
}

body {
  font-family: "Quicksand", sans-serif;
}

.rubik {
  font-family: var(--rubik) !important;
}
.redColor {
  font-family: "Quicksand", sans-serif;
}
.blueColor {
  color: var(--lightgreen) !important;
}
.lightGreen {
  color: var(--lightgreen);
}

.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  color: var(--lightGreen) !important;
}

.btn_red {
  background: var(--lightgreen);
}

.btn {
  background: var(--lightgreen);
  color: #fff;
}

.btn_blue {
  background: var(--lightgreen);
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
}

.form-control {
  background: #ffffff10;
  border: 1px solid #fff;
  color: #fff;
}
.form-control:focus {
  background: #ffffff10;
  border: 1px solid var(--lightgreen);
  color: #fff;
  box-shadow: none;
}

@media screen and (min-width: 991px) {
  #indexHeader {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    overflow: hidden;
  }
  #indexHeader_text {
    margin-top: 8rem !important;
  }
}
.btns > .btn {
  border-radius: 30px;
  margin: 0.1rem;
}

#card,
.card {
  background: rgba(1, 42, 53, 0.5);
  border: 1px solid #d3bb9110;
  cursor: pointer;
  transition: 0.2s ease-in;
}
#card:hover {
  background: #ffffff20;
}
.tab-link.active {
  color: var(--lightgreen) !important;
  border-bottom: 2px solid var(--lightgreen);
}
.tab-link {
  font-family: var(--rubik);
  font-weight: bold;
}
.post_link:hover {
  color: var(--lightgreen) !important;
}
.tab-link.disabled {
  color: #8f8f8f !important;
}
