@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --rubik: "Rubik", sans-serif;
  --red: #ec2c22;
  --blue: #118eef;
}

.rubik {
  font-family: var(--rubik) !important;
}
.redColor {
  color: var(--red) !important;
}
.blueColor {
  color: var(--blue) !important;
}

.nav-link {
  color: #000 !important;
}
.nav-link:hover {
  color: var(--red) !important;
}

.btn_red {
  background: var(--red);
}

.btn_blue {
  background: linear-gradient(
    180.08deg,
    #cbfdfe 0.11%,
    #24cce2 52.75%,
    #0993f8 96.4%,
    #1bdbdf 123.36%
  );
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
}

@media screen and (min-width: 991px) {
  #indexHeader {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    overflow: hidden;
  }
  #indexHeader_text {
    margin-top: 8rem !important;
  }
}
.btns > .btn {
  border-radius: 30px;
  margin: 0.1rem;
}

#card {
  background: #fdf9f220;
  border: 1px solid #d3bb9110;
  cursor: pointer;
}
#card:hover {
  background: #ecdbbd;
}
.tab-link.active {
  color: var(--red) !important;
  border-bottom: 2px solid var(--red);
}
.tab-link {
  font-family: var(--rubik);
  font-weight: bold;
}
.post_link:hover {
  color: var(--red) !important;
}
.tab-link.disabled {
  color: #8f8f8f !important;
}
